<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Standard Meta -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <title>Formifier - Form</title>

    <link rel="stylesheet" type="text/css" href="semantic/dist/semantic.min.css">
    <link rel="stylesheet" type="text/css" href="css/dataTables.semanticui.min.js">
    <style>
        body > .ui.container {
            margin-top: 3em;
        }
        pre {
            line-height: 0.7em;
            color: #555555;
            padding: 1em 1em;
            background: #f4f4f4;
            border: solid 1px #e1e1e1;
            border-radius: .28571429rem;
        }
        code {
            font-family: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
            color: #555555;
        }
    </style>
    <script
            src="https://code.jquery.com/jquery-3.1.1.min.js"
            integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
            crossorigin="anonymous"></script>
    <script src="semantic/dist/semantic.min.js"></script>
    <script src="api.js"></script>
    <script src="js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.15/js/dataTables.semanticui.min.js"></script>
    <script>
        heartbeat();
        $(document).ready(function () {
            console.log($_GET('id'));
            //TODO: ID grabbing
            custom_api('/forms/'+$_GET('id'), 'GET', function(data) {
                populate(data);
                //$('#test').html(JSON.stringify(data));
            });

            custom_api('/forms/'+$_GET('id')+'/submissions', 'GET', function(data) {
                submission_populate(data);
                //$('#test').html(JSON.stringify(data));
            });

            $('.secondary.vertical.pointing.menu .item').tab();

            $('#form_settings').submit(function() {
                $('.submit.button').addClass('loading');
                custom_api('/forms/'+$_GET('id'), 'PUT', function(data) {
                    $('.submit.button').removeClass("loading").state('flash text','Settings Saved!<i class="save icon"></i>');
                }, $('#form_settings').serialize());
                return false;
            });

            $('#test').click(function(data){
                api('logout','get',function (data) {
                    console.log(data);
                });
            });
        });


        function $_GET(param) {
            var vars = {};
            window.location.href.replace( location.hash, '' ).replace(
                /[?&]+([^=&]+)=?([^&]*)?/gi, // regexp
                function( m, key, value ) { // callback
                    vars[key] = value !== undefined ? value : '';
                }
            );

            if ( param ) {
                return vars[param] ? vars[param] : null;
            }
            return vars;
        }

        function populate(form_data) {
            $('#page_name').html(form_data.name);
            $('#name').val(form_data.name);
            $('#redir_page').val(form_data.redir_page);
            $('#active')
                .val(form_data.active)
                .change(function(){
                    cb = $(this);
                    cb.val(cb.prop('checked'));
                })
                .prop('checked', form_data.active);
            $('#form_loader').removeClass('active');
            $('#form_id').html(form_data._id);

        }

        function submission_populate(form_data){
            if(form_data.length > 0) {
                var columns = [];
                var columns_list = [];
                var table_data = [];
                //Grab column data from first submission
                $.each(form_data[0].data, function (index, value) {
                    columns.push({title: index});
                    columns_list.push(index);
                });
                //Format data array holy shit three layers this is bad
                $.each(form_data, function (index, value) {
                    var single_data = [];
                    $.each(columns_list, function (index, column) {
                        if (value.data[column] === undefined) value.data[column] = "N/A";
                        single_data.push(value.data[column]);
                    });
                    table_data.push(single_data);
                });

                console.log(columns);

                $('#submissions_table').DataTable({
                    data: table_data,
                    columns: columns
                });
            } else {
                $('#submissions').html("<p>No submissions yet</p>");
            }
        }



    </script>
</head>
<body>
<div class="ui main container">
    <div class="ui active inverted dimmer" id="form_loader">
        <div class="ui text loader">Loading</div>
    </div>

        <div class="row">
            <h1 class="ui centered header" id="page_name">Loading...</h1>
        </div>
        <br/>

    <div class="ui stackable grid container">
        <div class="row">
            <div class="four wide column">
                <div class="ui secondary vertical pointing menu">
                    <a class="item active" data-tab="glance">
                        At-A-Glance
                    </a>
                    <a class="item" data-tab="submissions">
                        Submissions
                    </a>
                    <a class="item" data-tab="settings">
                        Settings
                    </a>
                </div>
            </div>

            <div class="twelve wide column">

                <div class="ui tab active center aligned" data-tab="glance">
                    <div class="ui message">
                        <div class="header">
                            Alpha (4f45d15)
                        </div>
                        <p id="textbox">The Formifier service is in Alpha. There are no guarantees included except for the existence of bugs.</p>
                    </div>
                    <pre><code>&lt;form action=&quot;https://formifier.99leonchang.com/s/<span id="form_id"></span>&quot; method=&quot;POST&quot;&gt;<br/>
    &lt;input type=&quot;text&quot; name=&quot;Name&quot;&gt;<br/>
    &lt;input type=&quot;email&quot; name=&quot;Email&quot;&gt;<br/>
    &lt;input type=&quot;submit&quot; value=&quot;Send&quot;&gt;<br/>
&lt;/form&gt;</code></pre>
                    <div class="ui follow button" id="test">Test</div>
                    <div class="ui statistic">
                        <div class="value">
                            15
                        </div>
                        <div class="label">
                            Submissions
                        </div>
                    </div>
                    <p>Please note: submissions data tables will be formatted in terms of the first submitted form. All added rows to future submissions will be ignored. This can be solved by deleting all submission data.</p>
                </div>
                <div class="ui tab" data-tab="submissions">
                    <div class="row">
                        <div class="column" id="submissions">
                            <table id="submissions_table" class="ui celled table" cellspacing="0" width="100%"></table>
                        </div>
                    </div>
                </div>

                <div class="ui tab" data-tab="settings">
                    <div class="row">
                        <div class="column">
                            <div class="ui dividing header">Settings</div>
                            <div id="error_message"></div>
                            <form class="ui form" id="form_settings">
                                <input type="hidden" name="active" value="false">
                                <div class="field">
                                    <label>Form Name</label>
                                    <input type="text" name="name" value="Default Name" id="name" required>
                                </div>
                                <div class="field">
                                    <label>Redirect page (optional)</label>
                                    <input type="url" name="redir_page" value="" id="redir_page">
                                </div>
                                <div class="ui segment">
                                    <div class="field">
                                        <div class="ui toggle checkbox">
                                            <input type="checkbox" name="active" value="" id="active">
                                            <label>Form Active</label>
                                        </div>
                                    </div>
                                </div>
                                <button class="ui positive large right labeled icon submit button" type="submit">
                                    Save
                                    <i class="save icon"></i>
                                </button>
                            </form>
                        </div>
                    </div>
                </div>

            </div>

        </div>
</div>
</body>
</html>